<h4 class="mt-4" *ngIf="title.length > 0">
    {{ title }}
</h4>
<div class="row mt-5" *ngIf="games.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let game of games" (click)="setGame(game)" [routerLink]="['/gamepage', game.id]">
        <img [src]="game.imagem" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ game.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ game.categoria }}</h6>
        </div>
      </div>
</div>

