<h4 class="mt-4">
    Editar avaliação
</h4>
<div class="mt-4">
    <label for="nivel" class="form-label">Nível</label>
    <select class="form-select" [(ngModel)]="avaliacao.estrelas" style="width: max-content">
        <option value="1">Péssimo</option>
        <option value="2">Ruim</option>
        <option value="3">Razoável</option>
        <option value="4">Bom</option>
        <option value="5">Ótimo</option>
    </select>
</div>
<div class="mt-4">
    <label for="comentario" class="form-label">Comentário</label>
    <input type="text" class="form-control" id="comentario" [(ngModel)]="avaliacao.texto">
    <div class="alert alert-danger" role="alert" *ngIf="!verifyField(avaliacao.texto) && sended">
        Campo inválido. Preencha todas as informações corretamente!
    </div>
</div>
<div class="col-md-12 mt-5 mb-5 d-flex justify-content-between">
    <button type="submit" class="btn btn-secondary" [routerLink]="['/games/gamepage', idGameSend]">Voltar</button>
    <button type="submit" class="btn btn-primary" (click)="update(avaliacao.id)">Atualizar</button>
</div>

