<div class="table-responsive">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Url de acesso</th>
                <th scope="col">Url de vídeo</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games">
                <td class="img"><img [src]="game.imagem"></td>
                <td><span>{{ game.nome }}</span></td>
                <td><span>{{ game.categoria }}</span></td>
                <td><span>{{ game.urlAcesso }}</span></td>
                <td><span>{{ game.urlVideo }}</span></td>
                <td><span>{{ game.descricao }}</span></td>
                <td class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary align-items-center" [routerLink]="['/games', game.id]"><i
                            class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-danger align-items-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                            class="bi bi-trash" (click)="openModalDelete(game.id)"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Excluir game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o game?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete()">Sim</button>
            </div>
        </div>
    </div>
</div>