tbody {
    td {
        vertical-align: middle;
    }
    tr {
        .img {
            width: 120px;
            height: 80px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

