<div class="row mt-5">
    <div class="col-md-5">
        <img [src]="game.imagem" style="height: 300px; margin-bottom: 10px">
    </div>
    <div class="col-md-5">
        <h4>{{ game.nome }}</h4>
        <h6>{{ game.categoria }}</h6>
        <p>{{ game.descricao }}</p>
        <p>Acesse <a [href]="game.urlAcesso">aqui</a> o browser game</p>
        <p *ngIf="game.urlVideo != ''">Acesse <a [href]="game.urlVideo">aqui</a> o vídeo demonstração do browser game:</p>
    </div>
    <!-- <div class="col-md-2">
        <h2>Nota: {{ nota }}</h2>
    </div> -->
</div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 mb-3">
        <div class="mb-2">
            <h5>Avaliar game</h5>
            <select class="form-select" [(ngModel)]="avaliac.estrelas" style="width: max-content">
                <option value="1">Péssimo</option>
                <option value="2">Ruim</option>
                <option value="3">Razoável</option>
                <option value="4">Bom</option>
                <option value="5">Ótimo</option>
            </select>
            <div class="alert alert-danger" role="alert" *ngIf="!verifyField(avaliac.estrelas) && sended">
                Campo inválido. Preencha todas as informações corretamente!
            </div>
        </div>
        <div>
            <label for="comentario" class="form-label">Adicione um comentário</label>
            <textarea class="form-control" placeholder="Comentário" id="comentario"
                [(ngModel)]="avaliac.texto"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="!verifyField(avaliac.texto) && sended">
                Campo inválido. Preencha todas as informações corretamente!
            </div>
            <button type="submit" class="btn btn-primary mt-2" style="float: right; margin-left: 10px;"
                (click)="save()">Enviar</button>
        </div>
    </div>
    <div class="col-md-12 mt-5" *ngFor="let avaliacao of avaliacoes">
        <div style="display: flex; justify-content: space-between;">
            <div
                style="width: 85%; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
                <h6>{{ avaliacao.nome }}</h6>
                <span>{{ avaliacao.texto }}</span>
                <!-- <textarea class="form-control" placeholder="Comentário" id="texto" [(ngModel)]="avaliacao.texto"
                    *ngIf="avaliacao.idMembro == idUser"></textarea>
                <button type="submit" class="btn btn-primary mt-3" style="float: right; margin-left: 10px;"
                    *ngIf="avaliacao.idMembro == idUser" (click)="update(avaliacao.id)">Atualizar</button> -->
            </div>
            <div
                style="width: 15%; text-align: end; display: flex; flex-direction: column; justify-content: center; align-items: flex-end;">
                <h6 style="display: block;">Nota: {{ avaliacao.estrelas }}</h6>
                <!-- <select *ngIf="avaliacao.idMembro == idUser" class="form-select" [(ngModel)]="avaliacao.estrelas" style="width: max-content;">
                    <option value="1">Péssimo</option>
                    <option value="2">Ruim</option>
                    <option value="3">Razoável</option>
                    <option value="4">Bom</option>
                    <option value="5">Ótimo</option>
                </select> -->
                <span><u class="util" (click)="saveAvaliacaoUtil(avaliacao.id)">Marcar como útil: </u>{{
                    avaliacao.marcados}}</span>
            </div>
        </div>
        <button *ngIf="avaliacao.idMembro == idUser" class="btn btn-primary align-items-center mt-3"
            [routerLink]="['/games/editavaliacao', avaliacao.id]" style="float: right;"><i
                class="bi bi-pencil-square"></i></button>
    </div>
</div>